{% extends 'events/index.html' %}
{% load static %}
{% block content %}
<div class="card" style="width: 90%;">
  <div class="card-header">Start: <b>{{event.start_time|date:"j F Y, H:m"}}</b><br/>End: <b>{{event.end_time|date:"j F Y, H:m"}}</b></div>
  <div class="card-body">
    <img class="card-img-top" src="{% static "events/bike.jpg" %}" alt="Card image cap">
    <h4 class="card-title">{{event.name}}</h4>
    <p class="card-text">{{event.description}}</p>
    {% if participants %}
    <div class="list-group">
      <div class="list-group-item list-group-item-action active">Event participants:</div>
      {% for p in participants %}
        <div class="list-group-item list-group-item-action">{{p.person.first_name}} {{ p.person.last_name}} {{ p.person.email}}</div> 
      {% endfor %}
    </div>
    {% endif %}

    <form id="my-form" action="{% url 'events:signup' event.id %}" method="post">
      {% csrf_token %}
      <div class="form-group">You can singup for this event.</div>
      <div class="form-group"><label>First name: </label><input type="text" name="first_name"/></div>
      <div class="form-group"><label>Last name: </label><input type="text" name="last_name"/></div>
      <div class="form-group"><label>Email: </label><input type="text" name="email"/></div>
      <input id="my-form-submit" type="submit" class="btn btn-warning" value="Signup"/>
    </form>
  </div>
</div>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

  
{% endblock %}