{% extends 'events/index.html' %}
{% load static %}
{% block content %}
<div class="card" style="width: 100%;">
  <div class="card-header">Start: <b>{{event.start_time|date:"j F Y, H:m"}}</b><br/>End: <b>{{event.end_time|date:"j F Y, H:m"}}</b></div>
  <div class="card-body">
    <img class="card-img-top" src="{% static "events/bike.jpg" %}" alt="Card image cap">
    <h4 class="card-title">{{event.name}}</h4>
    <p class="card-text">{{event.description}}</p>
    <div class="list-group">
      <div class="list-group-item list-group-item-action active">Event participants:</div>
      {% if participants %}
      {% for p in participants %}
        <div class="list-group-item list-group-item-action">{{p.user.first_name}} {{ p.user.last_name}} {{ p.user.email}}</div> 
      {% endfor %}
      {% endif %}
    </div>
    

    <form id="my-form" action="{% url 'events:signup' event.id %}" method="post">
      {% csrf_token %}
      <input id="my-form-submit" type="submit" class="btn btn-warning" value="Signup"/>
    </form>
  </div>
</div>

  
{% endblock %}