{% extends 'events/index.html' %}
{% block content %}

  <form action="{% url 'events:addnew' %}" method="post">
    {% csrf_token %}
    <!--Event name: <input type="text" name="name"/>
    Start time: <input type="date" name="start_time"/>
    End time: <input type="date" name="end_time"/-->

    {% for field in form %}
      <div class="form-group">
        {{ field.errors }}
        {{ field.label_tag }} {{ field }}
        {% if field.help_text %}
        <p class="help">{{ field.help_text|safe }}</p>
        {% endif %}
      </div>
    {% endfor %}
    <input type="submit" value="Add"/>
  </form>

{% endblock %}