a.nav-link {
  font-size: x-large;
}
.navbar-text-my {
  font-size: x-large;
  color: #563d7c;
  margin: 10px;
}
body {
  background-color: white;
}
nav {
  background-color: #fff5af;
}
div.card {
  margin-top: 2rem;
}
div.card-header {
  background-color: #fff5af;
}
form#my-form {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1rem;
  margin-top: 2rem;
}
form#my-form label{
  width: 6rem;
}
form#my-form input, textarea{
  width: 30rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
