a.nav-link {
  font-size: x-large;
}
.navbar-text-my {
  font-size: x-large;
  color: #563d7c;
  margin: 10px;
}
body {
  font-family: 'Montserrat', sans-serif;
}
nav {
  background-color: #fff5af;
}
div.card {
  margin-top: 2rem;
}
div.card-header {
  background-color: #fff5af;
}
div.calendar-card.card {
  margin: 0;
  margin-bottom: 0.30rem;
}
div.calendar-card.card-header {
  background: #4286f4;
  color: white;
}
div.calendar-card.card-body {
  font-size: 48px;
  padding: 0;
}
form#my-form {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  padding: 1rem;
  margin-top: 2rem;
}
form#my-form label{
  width: 6rem;
}
form#my-form input, textarea{
  width: 30rem;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
div.content.container {
  background-color: white;
}
div.container div.alert.my-alert-error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
